swagger: "2.0"
info:
  title: MWC Microservice API
  version: "1.0"
host: "api.fadellh.com"
x-google-endpoints:
  - name: "api.fadellh.com"
    allowCors: true
schemes:
  - https

x-google-management:
  metrics:
    # Define a metric for read requests.
    - name: "read-requests"
      displayName: "Read requests"
      valueType: INT64
      metricKind: DELTA
  quota:
    limits:
      # Define the limit or the read-requests metric.
      - name: "read-limit"
        metric: "read-requests"
        unit: "1/min/{project}"
        values:
          STANDARD: 1000

paths:
  ############################################################
  #  ORDER ENDPOINTS
  ############################################################
  "/v1/orders/{orderId}":
    options:
      summary: "CORS preflight request"
      operationId: optionsOrderById
      parameters:
        - name: orderId
          in: path
          required: true
          type: string
          description: "Order ID"
      responses:
        "200":
          description: "CORS headers"
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Headers:
              type: string
      x-google-backend:
        address: "https://backend.fadellh.com"
        path_translation: APPEND_PATH_TO_ADDRESS

    get:
      summary: "Fetch order by ID"
      operationId: getOrderById
      parameters:
        - name: orderId
          in: path
          required: true
          type: string
          description: "Order ID"
      responses:
        "200":
          description: "Order retrieved successfully"
          headers:
            Access-Control-Allow-Origin:
              type: string
        "400":
          description: "Bad Request"
        "401":
          description: "Unauthorized"
        "404":
          description: "Order not found"
      security:
        - firebase_jwt: []
      x-google-backend:
        address: "https://backend.fadellh.com"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "dti-purwa"

  "/v1/orders":
    options:
      summary: "CORS preflight request"
      operationId: optionsOrders
      responses:
        "200":
          description: "CORS headers"
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Headers:
              type: string
      x-google-backend:
        address: "https://backend.fadellh.com"
        path_translation: APPEND_PATH_TO_ADDRESS

    post:
      summary: "Create a new order"
      operationId: createOrder
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          description: "CreateOrderCommand data"
          required: true
          schema:
            type: object
            properties:
              customerId:
                type: string
              orderItems:
                type: array
                items:
                  type: object
      responses:
        "200":
          description: "Order created successfully"
        "400":
          description: "Bad Request"
        "401":
          description: "Unauthorized"
        "404":
          description: "Not Found"
      security:
        - firebase_jwt: []
      x-google-backend:
        address: "https://backend.fadellh.com"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "dti-purwa"

    get:
      summary: "Retrieve orders"
      operationId: getOrders
      parameters:
        - name: order_number
          in: query
          required: false
          type: string
          format: uuid
          description: "Order number"
        - name: order_start_date
          in: query
          required: false
          type: string
          description: "Order start date (YYYY-MM-DD)"
        - name: order_end_date
          in: query
          required: false
          type: string
          description: "Order end date (YYYY-MM-DD)"
      responses:
        "200":
          description: "Orders retrieved successfully"
        "400":
          description: "Bad Request"
        "401":
          description: "Unauthorized"
        "404":
          description: "Not Found"
      security:
        - firebase_jwt: []
      x-google-backend:
        address: "https://backend.fadellh.com"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "dti-purwa"

  # Preview order
  "/v1/orders/preview":
    options:
      summary: "CORS preflight request"
      operationId: optionsPreviewOrder
      responses:
        "200":
          description: "CORS headers"
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Headers:
              type: string
      x-google-backend:
        address: "https://backend.fadellh.com"
        path_translation: APPEND_PATH_TO_ADDRESS

    post:
      summary: "Preview an order"
      operationId: previewOrder
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          description: "PreviewOrderCommand data"
          required: true
          schema:
            type: object
            properties:
              customerId:
                type: string
              orderItems:
                type: array
                items:
                  type: object
      responses:
        "200":
          description: "Order previewed successfully"
        "400":
          description: "Bad Request"
        "401":
          description: "Unauthorized"
      security:
        - firebase_jwt: []
      x-google-backend:
        address: "https://backend.fadellh.com"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "dti-purwa"

  # Create payment
  "/v1/orders/payment":
    options:
      summary: "CORS preflight request"
      operationId: optionsCreatePayment
      responses:
        "200":
          description: "CORS headers"
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Headers:
              type: string
      x-google-backend:
        address: "https://backend.fadellh.com"
        path_translation: APPEND_PATH_TO_ADDRESS

    post:
      summary: "Create payment for an order"
      operationId: createPayment
      consumes:
        - multipart/form-data
      parameters:
        - name: orderId
          in: query
          required: true
          type: string
          format: uuid
          description: "Order ID"
        - name: paymentProofFile
          in: formData
          required: true
          type: string
          description: "Payment proof file (base64 encoded)"
      responses:
        "200":
          description: "Payment created successfully"
        "400":
          description: "Bad Request"
        "401":
          description: "Unauthorized"
      security:
        - firebase_jwt: []
      x-google-backend:
        address: "https://backend.fadellh.com"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "dti-purwa"

  # Approve order
  "/v1/orders/{orderId}/approve":
    options:
      summary: "CORS preflight request"
      operationId: optionsApproveOrder
      parameters:
        - name: orderId
          in: path
          required: true
          type: string
          description: "Order ID"
      responses:
        "200":
          description: "CORS headers"
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Headers:
              type: string
      x-google-backend:
        address: "https://backend.fadellh.com"
        path_translation: APPEND_PATH_TO_ADDRESS

    post:
      summary: "Approve an order"
      operationId: approveOrder
      consumes:
        - application/json
      parameters:
        - name: orderId
          in: path
          required: true
          type: string
          format: uuid
          description: "Order ID"
      responses:
        "200":
          description: "Order approved successfully"
        "400":
          description: "Bad Request"
        "401":
          description: "Unauthorized"
        "404":
          description: "Order not found"
      security:
        - firebase_jwt: []
      x-google-backend:
        address: "https://backend.fadellh.com"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "dti-purwa"

  ############################################################
  #  INVENTORY ENDPOINTS
  ############################################################
  "/v1/inventory/{inventoryId}/transfer":
    options:
      summary: "CORS preflight request"
      operationId: optionsTransferInventory
      parameters:
        - name: inventoryId
          in: path
          required: true
          type: string
          description: "Inventory ID"
      responses:
        "200":
          description: "CORS headers"
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Headers:
              type: string
      x-google-backend:
        address: "https://backend.fadellh.com"
        path_translation: APPEND_PATH_TO_ADDRESS

    post:
      summary: "Transfer inventory"
      operationId: transferInventory
      consumes:
        - application/json
      parameters:
        - name: inventoryId
          in: path
          required: true
          type: string
          format: uuid
          description: "Inventory ID"
        - in: body
          name: body
          description: "TransferInventoryCommand data"
          required: true
          schema:
            type: object
            properties:
              productId:
                type: string
              quantity:
                type: number
      responses:
        "200":
          description: "Inventory transferred successfully"
          headers:
            Access-Control-Allow-Origin:
              type: string
        "400":
          description: "Bad Request"
        "401":
          description: "Unauthorized"
        "404":
          description: "Inventory not found"
      security:
        - firebase_jwt: []
      x-google-backend:
        address: "https://backend.fadellh.com"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "dti-purwa"

  "/v1/inventory/products":
    options:
      summary: "CORS preflight request"
      operationId: optionsAllProducts
      responses:
        "200":
          description: "CORS headers"
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Headers:
              type: string
      x-google-backend:
        address: "https://backend.fadellh.com"
        path_translation: APPEND_PATH_TO_ADDRESS

    get:
      summary: "Get all products"
      operationId: getAllProducts
      responses:
        "200":
          description: "Successfully retrieved products"
          headers:
            Access-Control-Allow-Origin:
              type: string
        "401":
          description: "Unauthorized"
        "500":
          description: "Internal Server Error"
      security:
        - api_key: []
      x-google-backend:
        address: "https://backend.fadellh.com"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "dti-purwa"

  ############################################################
  #  USER ENDPOINTS
  ############################################################
  "/v1/users/verify":
    options:
      summary: "CORS preflight request"
      operationId: optionsVerifyCustomer
      responses:
        "200":
          description: "CORS headers"
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Headers:
              type: string
      x-google-backend:
        address: "https://backend.fadellh.com"
        path_translation: APPEND_PATH_TO_ADDRESS

    post:
      summary: "Verify a user by email"
      operationId: verifyCustomer
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          description: "VerifyCustomerCommand data"
          required: true
          schema:
            type: object
            properties:
              email:
                type: string
      responses:
        "200":
          description: "User verified successfully"
        "404":
          description: "User not found"
      security:
        - api_key: []
      x-google-backend:
        address: "https://backend.fadellh.com"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "dti-purwa"

  "/v1/users/create":
    options:
      summary: "CORS preflight request"
      operationId: optionsCreateCustomer
      responses:
        "200":
          description: "CORS headers"
          headers:
            Access-Control-Allow-Origin:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Headers:
              type: string
      x-google-backend:
        address: "https://backend.fadellh.com"
        path_translation: APPEND_PATH_TO_ADDRESS

    post:
      summary: "Create a new user"
      operationId: createCustomer
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          description: "CreateCustomerCommand data"
          required: true
          schema:
            type: object
            properties:
              email:
                type: string
              fullname:
                type: string
      responses:
        "200":
          description: "User created (or returned if already exists)"
        "400":
          description: "Bad Request"
      x-google-quota:
        metricCosts:
          "read-requests": 1
      security:
        - api_key: []
      x-google-backend:
        address: "https://backend.fadellh.com"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "dti-purwa"

############################################################
#  SECURITY DEFINITIONS
############################################################
securityDefinitions:
  api_key:
    type: apiKey
    name: X-API-Key
    in: header
  firebase_jwt:
    type: "oauth2"
    flow: "implicit"
    authorizationUrl: ""
    x-google-issuer: "https://securetoken.google.com/dti-purwa"
    x-google-jwks_uri: "https://www.googleapis.com/service_accounts/v1/jwk/securetoken@system.gserviceaccount.com"
    x-google-audiences: "dti-purwa"
